body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#800000;
color:white;
padding:15px;
display:flex;
align-items:center;
gap:15px;
}

.logo{
height:60px;
}

.container{
display:flex;
gap:25px;
padding:20px;
}

.boxscore{
background:white;
padding:20px;
border-radius:10px;
width:65%;
}

.controls{
background:white;
padding:20px;
border-radius:10px;
width:30%;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:8px;
border-bottom:1px solid #ddd;
text-align:center;
}

th{
background:#800000;
color:white;
}

tfoot{
background:#333;
color:white;
font-weight:bold;
}

button{
width:100%;
padding:10px;
margin-top:8px;
background:#caa200;
border:none;
font-weight:bold;
cursor:pointer;
border-radius:6px;
}

button:hover{
opacity:.85;
}
